// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin radius($size) {
    -webkit-border-radius: $size $size;
    -moz-border-radius: $size / $size;
    -khtml-border-radius: $size / $size;
    border-radius: $size / $size;
}

@mixin box() {
    @include radius(5px);
    background: #FFFFFF;
    opacity: 0.9;
    color: #969696;
}

$margin-S: 10px;
$margin-M: 20px;
$margin-L: 40px;

#sub {
    @include box();
    min-width: 20%;
    float: left;
    padding: 20px;
    margin-right: $margin-M;
    margin-bottom: $margin-M;
}


#main {
    @include box();
    width: 60%;
    float: left;
    padding: 20px;

    @include radius(5px);

    .field {
        textarea {
            border: 1px solid #969696;
            @include radius(4px);
        }
    }
    table {
        margin-top: 20px;
        tr {
            height: 30px;
            border: 1px solid #000;
        }
        .destroy a {
            text-decoration: none;
            background-color: #b94a48;
            color: #FFF;
            padding: 2px;
            @include radius(2px);
        }
    }
    a {
        color: #969696;
        &:visited {
            color: #666;
        }
        &:hover {
            color: #FFF;
            background-color: #3b982b;
        }
    }
}

.actions {
    input {
        &:hover {
            cursor: pointer;
            background-color: #969696;
        }
        border: 1px solid #CCC;
        padding: 5px 10px;
        color: #FFF;
        background-color: #3b982b;
        @include radius(4px);
    }
}

form {
    label {
        text-align: right;
        padding-right: 15px;
        width: 50px;
    }
    label,input {
        display: block;
        float: left;
        margin-bottom: 10px;
    }
    br { clear: left; }
}